@using Blogger_Web.Models.PostsDTO;

@model GetPostByIdDTO

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/Layout.cshtml";

}
<div class="col-sm-12 col-md-9 col-md-offset-3 col-lg-6 col-lg-offset-3 col-content">
    <div class="main-blog-section section" id="main-blog-section">
        <div class="widget Blog" data-version="1" id="Blog1">
            <div class="blog-posts hfeed">
                <p class="breadcrumbs">
                    <span class="post-labels">
                        <a href="~/Home" rel="tag">
                            Home
                        </a>

                        »

                        <span>
                            @Model.Title
                        </span>
                    </span>
                </p>
                <!--Can't find substitution for tag [defaultAdStart]-->

                <div class="date-outer">
                    <div class="date-posts">
                        <div class="post-outer">
                            <div class="article-holder">
                                <article class="post hentry">
                                    <div class="post-header-line-1"></div>
                                    <div class="post-body entry-content">
                                        <h2 class="post-title entry-title">
                                            @Model.Title
                                        </h2>
                                        <p class="post-date-author">
                                            <i class="fa fa-calendar"></i>
                                            @Model.CreateDate.ToString("dd/MM/yyyy hh:mm tt")
                                            &nbsp;&nbsp;
                                            <i class="fa fa-user"></i>
                                            @Model.AccountName
                                        </p>
                                        <hr>
                                        <img src="~/@Model.Image" style="max-width:100%; height: auto;" alt="">
                                        <br>

                                        <p>@Model.BriefContent</p>

                                        <span innerHTML="@Html.Raw(Model.Content)"></span>

                                        @*<div style="clear: both;"></div>*@
                                    </div>
                                    <div class="post-meta">
                                        <p style="color: black">
                                            <i class="fa fa-folder-open"></i>
                                            &nbsp;&nbsp;
                                            @foreach (var category in Model.ListCategoriesName)
                                            {
                                                <span style="color: black">@category /</span>
                                            }


                                            @*<a href="https://rareti-btemplates.blogspot.com/search/label/Blogger" rel="tag">
                                            Blogger
                                            </a>*@
                                        </p>
                                        <p>
                                            <i class="fa fa-comment"></i>
                                            &nbsp;&nbsp;
                                            <a href="https://rareti-btemplates.blogspot.com/2016/08/demo-post-with-formatted-elements-and.html#comment-form" onclick="">
                                                2
                                                Comments

                                            </a>
                                        </p>
                                    </div>
                                    <div class="post-footer sr-only">
                                        <div class="post-footer-line post-footer-line-1">
                                            <span class="post-author vcard">
                                                <span class="fn">
                                                    <a href="https://www.blogger.com/profile/11448038113626124391" rel="author" title="author profile">
                                                        BTemplates
                                                    </a>
                                                </span>
                                            </span>
                                            <span class="post-timestamp">
                                                at
                                                <a class="timestamp-link" href="https://rareti-btemplates.blogspot.com/2016/08/demo-post-with-formatted-elements-and.html" rel="bookmark" title="permanent link">
                                                    <abbr class="published" title="2016-08-01T16:05:00-07:00">
                                                        4:05 PM
                                                    </abbr>
                                                </a>
                                            </span>
                                            <span class="post-comment-link">
                                            </span>
                                        </div>
                                        <div class="post-footer-line post-footer-line-2">
                                        </div>
                                    </div>

                                    <div id="related-posts">
                                        @foreach (var postRelated in @ViewBag.listPostRelated)
                                        {
                                            <a style="text-decoration:none;padding:5px;float:left; padding-right: 13px;" href="~/Posts/Detail?id=@postRelated.ID">
                                                <img style="width: 166px; height: 115px;" src="~/@postRelated.Image"><br>
                                                <div style="padding-left:3px;height:65px;border: 0pt none ; margin: 3px 0pt 0pt; padding: 0pt; font-style: normal; font-variant: normal; font-weight: normal;font-size: 14px; line-height: 25px; font-size-adjust: none; font-stretch: normal;">
                                                    @postRelated.Title
                                                </div>
                                            </a>
                                        }
                                    </div>

                                </article>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="blog-pager" id="blog-pager">
                                <span id="blog-pager-older-link">
                                    <a class="blog-pager-older-link" href="https://rareti-btemplates.blogspot.com/2016/08/images-in-this-template.html" id="Blog1_blog-pager-older-link" title="Older Post">
                                        Older Post
                                    </a>
                                </span>
                                <a class="home-link" href="https://rareti-btemplates.blogspot.com/">
                                    Home
                                </a>
                            </div>
                            <div class="clear"></div>
                            <div class="comments" id="comments">
                                <a name="comments"></a>
                                <h4>
                                    2 comments
                                    :
                                </h4>
                                <div class="comments-content">

                                    <div id="comment-holder">
                                        <div class="comment-thread toplevel-thread"><ol id="top-ra"><li class="comment" id="c3358856414004945102"><div class="avatar-image-container"><img src="//2.bp.blogspot.com/-J4WdKbi7Un8/Y9C6fMXPA_I/AAAAAAAABu8/a-Elx-IGelsv9Pgb6Rwbrvv5XOegHEN9wCK4BGAYYCw/s35/avatar-btemplates.png" alt=""></div><div class="comment-block"><div class="comment-header"><cite class="user"><a href="https://www.blogger.com/profile/11448038113626124391" rel="nofollow">BTemplates</a></cite><span class="icon user blog-author"></span><span class="datetime secondary-text"><a rel="nofollow" href="https://rareti-btemplates.blogspot.com/2016/08/demo-post-with-formatted-elements-and.html?showComment=1470092742862#c3358856414004945102">August 1, 2016 at 4:05 PM</a></span></div><p class="comment-content">Reply test</p><span class="comment-actions secondary-text"><a class="comment-reply" target="_self" data-comment-id="3358856414004945102" href="javascript:;">Reply</a><span class="item-control blog-admin blog-admin pid-863474151"><a target="_self" href="https://www.blogger.com/delete-comment.g?blogID=7352335209452584562&amp;postID=3358856414004945102">Delete</a></span></span></div><div class="comment-replies"><div id="c3358856414004945102-rt" class="comment-thread inline-thread hidden"><span class="thread-toggle thread-expanded"><span class="thread-arrow"></span><span class="thread-count"><a target="_self" href="javascript:;">Replies</a></span></span><ol id="c3358856414004945102-ra" class="thread-chrome thread-expanded"><div></div><div id="c3358856414004945102-continue" class="continue"><a class="comment-reply" target="_self" data-comment-id="3358856414004945102" href="javascript:;">Reply</a></div></ol></div></div><div class="comment-replybox-single" id="c3358856414004945102-ce"></div></li><li class="comment" id="c6056462953194165138"><div class="avatar-image-container"><img src="//2.bp.blogspot.com/-J4WdKbi7Un8/Y9C6fMXPA_I/AAAAAAAABu8/a-Elx-IGelsv9Pgb6Rwbrvv5XOegHEN9wCK4BGAYYCw/s35/avatar-btemplates.png" alt=""></div><div class="comment-block"><div class="comment-header"><cite class="user"><a href="https://www.blogger.com/profile/11448038113626124391" rel="nofollow">BTemplates</a></cite><span class="icon user blog-author"></span><span class="datetime secondary-text"><a rel="nofollow" href="https://rareti-btemplates.blogspot.com/2016/08/demo-post-with-formatted-elements-and.html?showComment=1470092749077#c6056462953194165138">August 1, 2016 at 4:05 PM</a></span></div><p class="comment-content">Second test</p><span class="comment-actions secondary-text"><a class="comment-reply" target="_self" data-comment-id="6056462953194165138" href="javascript:;">Reply</a><span class="item-control blog-admin blog-admin pid-863474151"><a target="_self" href="https://www.blogger.com/delete-comment.g?blogID=7352335209452584562&amp;postID=6056462953194165138">Delete</a></span></span></div><div class="comment-replies"><div id="c6056462953194165138-rt" class="comment-thread inline-thread hidden"><span class="thread-toggle thread-expanded"><span class="thread-arrow"></span><span class="thread-count"><a target="_self" href="javascript:;">Replies</a></span></span><ol id="c6056462953194165138-ra" class="thread-chrome thread-expanded"><div></div><div id="c6056462953194165138-continue" class="continue"><a class="comment-reply" target="_self" data-comment-id="6056462953194165138" href="javascript:;">Reply</a></div></ol></div></div><div class="comment-replybox-single" id="c6056462953194165138-ce"></div></li></ol><div id="top-continue" class="continue hidden"><a class="comment-reply" target="_self" href="javascript:;">Add comment</a></div><div class="comment-replybox-thread" id="top-ce"><iframe allowtransparency="true" class="blogger-iframe-colorize blogger-comment-from-post" frameborder="0" height="66px" id="comment-editor" name="comment-editor" src="https://www.blogger.com/comment/frame/7352335209452584562?po=7853317494304687200&amp;hl=en&amp;blogspotRpcToken=529297#%7B%22color%22:%22rgb(51,%2051,%2051)%22,%22backgroundColor%22:%22rgb(255,%20255,%20255)%22,%22unvisitedLinkColor%22:%22rgb(247,%20107,%2097)%22,%22fontFamily%22:%22%5C%22Open%20Sans%5C%22,%20serif%22%7D" width="100%" style="display: block;" data-resized="true"></iframe></div><div class="loadmore hidden" data-post-id="7853317494304687200"><a target="_self">Load more...</a></div></div>
                                    </div>
                                </div>
                                <p class="comment-footer">
                                </p><div class="comment-form">
                                    <a name="comment-form"></a>
                                    <p>
                                    </p>
                                    <p>Note: Only a member of this blog may post a comment.</p>
                                    <a href="https://www.blogger.com/comment/frame/7352335209452584562?po=7853317494304687200&amp;hl=en&amp;blogspotRpcToken=529297" id="comment-editor-src"></a>

                                    <!--Can't find substitution for tag [post.friendConnectJs]-->

                                </div>
                                <p></p>
                                <div id="backlinks-container">
                                    <div id="Blog1_backlinks-container">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Can't find substitution for tag [adEnd]-->
            </div>
            <div style="clear: both;"></div>
            <div class="post-feeds">
                <div class="feed-links">
                    Subscribe to:
                    <a class="feed-link" href="https://rareti-btemplates.blogspot.com/feeds/7853317494304687200/comments/default" target="_blank" type="application/atom+xml">
                        Post Comments
                        (
                        Atom
                        )
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Home/SideBarRight.cshtml");
