@using Blogger_Web.Models.PostsDTO;
@using Blogger_Web.Models;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model GetPostByIdDTO

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/Layout.cshtml";

    string userName = HttpContextAccessor.HttpContext.Session.GetString("userName");

    var userVB = ViewBag.User;

    int marginLeft = 25;
}

<div class="col-sm-12 col-md-9 col-md-offset-3 col-lg-6 col-lg-offset-3 col-content">
    <div class="main-blog-section section" id="main-blog-section">
        <div class="widget Blog" data-version="1" id="Blog1">
            <div class="blog-posts hfeed">
                <p class="breadcrumbs">
                    <span class="post-labels">
                        <a href="~/Home" rel="tag">
                            Home
                        </a>

                        »

                        <span>
                            @Model.Title
                        </span>
                    </span>
                </p>
                <!--Can't find substitution for tag [defaultAdStart]-->

                <div class="date-outer">
                    <div class="date-posts">
                        <div class="post-outer">
                            <div class="article-holder">
                                <article class="post hentry">
                                    <div class="post-header-line-1"></div>
                                    <div class="post-body entry-content">
                                        <h2 class="post-title entry-title">
                                            @Model.Title
                                        </h2>
                                        <p class="post-date-author">
                                            <i class="fa fa-calendar"></i>
                                            @Model.CreateDate.ToString("dd/MM/yyyy hh:mm tt")
                                            &nbsp;&nbsp;
                                            <i class="fa fa-user"></i>
                                            @Model.AccountName
                                        </p>
                                        <hr>
                                        <img src="~/@Model.Image" style="max-width:100%; height: auto;" alt="">
                                        <br>

                                        <p>@Model.BriefContent</p>

                                        <span innerHTML="@Html.Raw(Model.Content)"></span>

                                        @*<div style="clear: both;"></div>*@
                                    </div>
                                    <div class="post-meta">
                                        <p style="color: black">
                                            <i class="fa fa-folder-open"></i>
                                            &nbsp;&nbsp;
                                            @foreach (var category in Model.ListCategoriesName)
                                            {
                                                <span style="color: black">@category /</span>
                                            }


                                            @*<a href="https://rareti-btemplates.blogspot.com/search/label/Blogger" rel="tag">
                                            Blogger
                                            </a>*@
                                        </p>
                                        <p style="color: black">
                                            <i class="fa fa-comment"></i>
                                            &nbsp;&nbsp;
                                            <span style="color: black">@ViewBag.SumComment Bình luận</span>
                                        </p>
                                    </div>
                                    <div class="post-footer sr-only">
                                        <div class="post-footer-line post-footer-line-1">
                                            <span class="post-author vcard">
                                                <span class="fn">
                                                    <a href="https://www.blogger.com/profile/11448038113626124391" rel="author" title="author profile">
                                                        BTemplates
                                                    </a>
                                                </span>
                                            </span>
                                            <span class="post-timestamp">
                                                at
                                                <a class="timestamp-link" href="https://rareti-btemplates.blogspot.com/2016/08/demo-post-with-formatted-elements-and.html" rel="bookmark" title="permanent link">
                                                    <abbr class="published" title="2016-08-01T16:05:00-07:00">
                                                        4:05 PM
                                                    </abbr>
                                                </a>
                                            </span>
                                            <span class="post-comment-link">
                                            </span>
                                        </div>
                                        <div class="post-footer-line post-footer-line-2">
                                        </div>
                                    </div>

                                    <div id="related-posts">
                                        @foreach (var postRelated in @ViewBag.listPostRelated)
                                        {
                                            <a style="text-decoration:none;padding:5px;float:left; padding-right: 13px;" href="~/Posts/Detail?id=@postRelated.ID">
                                                <img style="width: 166px; height: 115px;" src="~/@postRelated.Image"><br>
                                                <div style="padding-left:3px;height:65px;border: 0pt none ; margin: 3px 0pt 0pt; padding: 0pt; font-style: normal; font-variant: normal; font-weight: normal;font-size: 14px; line-height: 25px; font-size-adjust: none; font-stretch: normal;">
                                                    @postRelated.Title
                                                </div>
                                            </a>
                                        }
                                    </div>

                                </article>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="blog-pager" id="blog-pager">
                                <a class="home-link" href="~/Home">
                                    Trang chủ
                                </a>
                            </div>
                            <div class="clear"></div>
                            <div class="comments" id="comments">
                                <h4>@ViewBag.SumComment Bình luận:</h4>
                                <div class="comments-content">
                                    <div id="comment-holder">
                                        <div class="comment-thread toplevel-thread">
                                            <ol id="comment_reload" style="list-style: none; padding-left: 3px;">
                                                @foreach (var itemComment in ViewBag.ListComment)
                                                {
                                                    if (itemComment.ParentID == 0)
                                                    {
                                                        <li class="comment" style="display: flex; margin-bottom: 25px;">
                                                            <div class="avatar-image-container" style="padding-right: 15px;">
                                                                <img src="/Assets/Admin/img/avatar6.jpeg" alt="" style="max-width: 36px;">
                                                            </div>
                                                            <div class="comment-block">
                                                                <div class="comment-header">
                                                                    <span class="user" style="margin-right: 20px;">
                                                                        <b>@itemComment.FullName</b>
                                                                    </span>
                                                                    <span class="icon user blog-author"></span>
                                                                    <span class="datetime secondary-text">
                                                                        @itemComment.CommentDate.ToString("dd/MM/yyyy hh:mm tt")
                                                                    </span>
                                                                </div>
                                                                <p class="comment-content" style="margin: 5px 0;">@itemComment.CommentMsg</p>

                                                                @if (userName != null)
                                                                {
                                                                    <div class="comment-actions secondary-text" style="width: 450px">
                                                                        <a class="comment-reply" href="#commentreply-@itemComment.ID" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="commentreply-@itemComment.ID">Phản hồi</a>

                                                                        <div id="commentreply-@itemComment.ID" class="bg-light collapse">
                                                                            <textarea name="" class="form-control" id="txtCommentMsg_@itemComment.ID" placeholder="Viết bình luận"></textarea>
                                                                            <button type="submit" class="btn-email btnReply" data-postid="@itemComment.PostID" data-userid="@userVB.Id" data-parentid="@itemComment.ID" data-commentmsg="txtCommentMsg_@itemComment.ID">Bình luận</button>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </li>

                                                        <div style="margin-left: 25px">
                                                            @Html.Partial("_ChildComment", new {parentID = itemComment.ID , postID = itemComment.PostID})
                                                        </div>
                                                    }

                                                }

                                            </ol>
                                        </div>
                                    </div>
                                </div>

                                @if (userName != null)
                                {
                                    <div style="margin-top: 30px;">
                                        <textarea name="" class="form-control" id="txtCommentNew" placeholder="Viết bình luận"></textarea>
                                        <button type="submit" class="btn-email" id="btnCommentNew" data-postid="@Model.ID" data-userid="@userVB.Id">Bình luận</button>
                                    </div>
                                }
                                else
                                {
                                    <div style="margin-top: 30px;">
                                        <button type="submit" class="btn-email">
                                            <a href="~/Account/Login">Đăng nhập để bình luận</a>
                                        </button>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>

                    <!--Can't find substitution for tag [adEnd]-->
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Home/SideBarRight.cshtml");

@*<span class="item-control blog-admin blog-admin pid-863474151">
                                                            <a href="">Delete</a>
                                                            </span>*@